<!DOCTYPE html>

<html>
  <head>
    <meta charset="utf-8">
    <title>Help Page</title>
  </head>

  <body>

    {{> header}} <!--THIS IS HOW YOU INCLUDE A PARTIAL -->


    <p>This is some text that about stuff!</p>

    {{> footer}} <!--THIS IS HOW YOU INCLUDE A PARTIAL -->
 
  </body>
</html>
